/*  */
.navigation__checkbox {
    display: none;
}
  
.navigation__button {
    background-color: white;
    height: 3rem;
    width: 3rem;
    position: fixed;
    top: 4rem;
    right: 4rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
  
    @media only screen and (max-width: 37.5em) {
     top: 2rem;
     right: 2rem;
    }
  }

  .navigation__background {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: fixed;
    top: 2rem;
    right: 2rem;
    background-color: #192F43;
    z-index: 1000;
    box-shadow: 0 1rem 3rem rgba(#0000, 0.1);
    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  }

  
  /* navigation icon */
  .navigation__icon {
    position: relative;
    margin-top: .7rem;
    margin-left: .6rem;
    font-size: 1.8rem;
    color: #192F43;
  }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
  }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-45deg);
  }
  
  
  /* FUNCTIONALITY */
.navigation__checkbox:checked ~ .navigation__background {
      transform: scale(40);
      border-radius: 0;
    }
  
.navigation__checkbox:checked ~ .navigation__nav {
      display: block;
      width: 100%;
    }