/*  */
.navigation__checkbox {
    display: none;
  }
  
  .navigation__button {
    background-color: white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
  
    
  }
  
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem;
  
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: grey;
      display: inline-block;
    }
  
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
  
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  
  .navigation__button:hover .navigation__icon::before {
    top: -1rem;
  }
  
  .navigation__button:hover .navigation__icon::after {
    top: -1rem;
  }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
  }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-45deg);
  }
  
  
  /* FUNCTIONALITY */
    /* .navigation__checkbox:checked ~ .navigation__background {
      transform: scale(80);
    } */
  
    .navigation__checkbox:checked ~ .navigation__nav {
      opacity: 0;
      width: 100%;
    }