/*  */
.navigation__checkbox {
    display: none;
  }
  
  .navigation__button {
    background-color: white;
    height: 3rem;
    width: 3rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
  
    
  }
  
  /* navigation icon */
  .navigation__icon {
    position: relative;
    margin-top: .7rem;
    margin-left: .6rem;
    font-size: 1.8rem;  
  }
  
  .navigation__button:hover .navigation__icon::before {
    top: -1rem;
  }
  
  .navigation__button:hover .navigation__icon::after {
    top: -1rem;
  }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
    color: rgb(0, 107, 102);
  }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(45deg);
  }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-45deg);
  }
  
  
  /* FUNCTIONALITY */
    .navigation__checkbox:checked ~ .navigation__background {
      transform: scale(80);
    }
  
    .navigation__checkbox:checked ~ .navigation__nav {
      opacity: 0;
      width: 100%;
    }