/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
} */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  /* padding: 0 3rem; */
  background: #192F43;
  font-family: Lato, 'sans-serif';
  font-size: 2rem;
}

main{
  padding: 0 6rem;

  @media only screen and (max-width: 37.5em){
    padding: 0 1rem;
  }
}

.baseHeader{
  background-image: linear-gradient(
    to right,
    rgba(25, 47, 67, 0.418),
    rgba(40, 105, 165, 0.174186)
  ),url(./assets/images/TopPhoto.jpg);
  background-size: cover;
}